{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - Home{% endblock %}

{% block content %}

    <form method="POST">
        <textarea name="editFile">{{ content }}</textarea>
        <br><button class="btn btn-primary">Change</button>
    </form>

{% endblock %}