{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - Home{% endblock %}

{% block content %}<br><br>
    <h2>Home</h2>
    <div class="homeMessage">
        {% if user['pseudo'] %}
            This is the home page of filer, go to files to upload and check your files
        {% else %}
            Welcome to the filer site, you need to register to upload a file
        {% endif %}
    </div>
{% endblock %}
