{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - home{% endblock %}

{% block content %}<br><br>
<p class="home">
  Home page
</p>
   <div class="hell"> Hello<br>{{ user['pseudo'] }} </div>
{% endblock %}
