<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block page_title %}Filer{% endblock %}</title>
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>
    <a href="?action=home">home</a>
    <a href="?action=login">login</a>
    <a href="?action=register">register</a>
    {% block content %}{% endblock %}
  </body>
</html>
