{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - Login{% endblock %}

{% block content %}
    <div class="login">
        <form method="POST" action="?action=login">
        <input class="boxe" name="loginPseudo" type="text" placeholder="Pseudo"><br>
        <input class="boxe" name="loginPassword" type="password" placeholder="Password"><br><br>
        <button class="btn">Enter</button>
        </form>
    </div>
    <div class="errorsLogin">{{ errors }}</div>
{% endblock %}