{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - login{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="POST" action="?action=login">
    pseudo: <input name="loginPseudo" type="text">
    password: <input name="loginPassword" type="password">
    <button>Enter</button>
    </form>
{% endblock %}