{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - register{% endblock %}

{% block content %}
    <h1>register</h1>
    <form method="POST" action="?action=register">
        Firstname: <input type="text" name="firstname"><br>
        Lastname: <input type="text" name="lastname"><br>
        Email: <input type="email" name="email"><br>
        Pseudo: <input type="text" name="pseudo"><br>
        Password: <input type="password" name="password"><br>
        Repeat Password: <input type="password"><br>
        <button>Enter</button>
    </form>
{% endblock %}