{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - login{% endblock %}

{% block content %}
    <h1>Upload Files</h1>
    <div class="link"><a href="?action=viewFiles">Click here to check your files</a></div>
    <div class="messageUpload">Upload your files here :</div>
    <form name="upload" method="POST" action="?action=uploadFiles" enctype="multipart/form-data">
        <label for="file" class="labelFile"><img class="spear" src="img/spear.png" alt="icon spire"><img class="icon_file" src="img/icon_file.png" alt="icon file"></label>
        <input type="file" id="file" name="inputFile" class="inputFile" onchange="this.form.submit();">
    </form>
    {% for message in messagesUpload %}
        <div class="messagesUpload">{{ message }}</div>
    {% endfor %}
{% endblock %}