{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - login{% endblock %}

{% block content %}
    <p class="vue">View Files</p>
    <div class="link"><a href="?action=uploadFiles">Click here to upload a file</a></div>
{% endblock %}