{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - login{% endblock %}

{% block content %}
    <h1>View Files</h1>
     <a class="linkUpload" href="?action=uploadFiles">Click here to upload a file</a><br>
    {% for file in list %}
        <a href="./files/{{ user['pseudo'] }}/{{ file }}">{{ file }}</a><br>
    {% endfor %}
{% endblock %}