<?php
$config = [
    'homepage_route' => 'home',
    'db' => [
        'name'     => 'filer',
        'user'     => 'root',
        'password' => '',
        'host'     => '127.0.0.1',
        'port'     => NULL
    ],
    'routes' => [
        'home'     => 'Main:home',
        'login'    => 'Main:login',
        'logout'   => 'Main:logout',
        'register' => 'Main:register',
        'files'    => 'Main:files',
        'edit'     => 'Main:edit'
    ]
];
