.box{
    position: absolute;
    left: 85%;
    text-decoration: none;
    color:black;
    font-size: 20px;
   
    
}
.linkUpload, .linkView{
    font-size: 40px;
    text-decoration: underline;
    color : black;
    margin-bottom: 50px;
}
.formUpload{
    margin-left: -25%;
    margin-top: 125px;
}
.labelFile{
    border: 1px solid black;
    padding: 150px;
    margin-left: -40%;
}
.labelFile:hover .icon_file, .labelFile:hover .spear{
    opacity: 1;
}
.labelFile:hover {
    cursor: pointer;
    background: #d5d5d5;
}
.inputFile{
    position: absolute;
    margin-top: 220px;
    margin-left: -300px;
    border: 0;
}
.icon_file, .spear{
    margin-bottom: -50px;
    width: 100px;
    height: 100px;
    opacity: 0.3;
}
.spear {
    margin-right: 20px;
    transform: rotate(320deg);
}
.createDirectory{
    text-align: center;
}
.btnCreate{
    margin-top: 10px;
    margin-left: 70px;
}
.files{
    margin-top: 300px;
    font-size: 60px;
    text-align: center
}
.listFiles{
    text-align: center;
}
.nameFile{
    margin-top: 200px;
}
body{
    background-color:white;
}

form {
    position: absolute;
    left:42%;
}
input{
    border: 1px solid black;
    text-align: center;
}
.btn{
    position: absolute;
    left:32%;
    width:80px;
    height:40px;
}
.btn1{
    position: absolute;
    left:36%;
}
.loog{
    text-align: center;
    font-size: 30px;
}
.home{
    text-align: center;
    font-size: 30px;
}
.hell{
   
    
    background-color:rgb(44, 39, 39);
    width: 100%;
    height:60px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 92%;
    color:papayawhip;
}

.not {
    
    
    width: 100%;
    height:50px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top:50%;
}
    
.hom{
    position: absolute;
    top:3%;
    left:0%;
    text-decoration: none;
   background-color:rgb(44, 39, 39);
   width: 100%;
    height:60px;
    font-size: 30px;
    color: papayawhip;

}
.bum{
    position: absolute;
    top:3%;
    left:35%;
    text-decoration: none;
    font-size: 30px;
    color: papayawhip;
    
   
}
.regi{
    position: absolute;
    top:3%;
    right:0.1%;
    text-decoration: none;
    font-size: 30px;
    color: papayawhip;

}
.logi{
    position:absolute;
    top:3%;
    left:58%;
    text-decoration: none;
    font-size: 30px;
    color: papayawhip;
}
.gum{
    position: absolute;
    top:3%;
    left:50%;
    text-decoration: none;
    font-size: 30px;
    color: papayawhip;

}
.reg{
    text-align: center;
    font-size: 30px;

}
.boxe{
    width: 250px;
    height:30px;
}
.vue {
    text-align: center;
    font-size: 30px;

}
.link{
    text-align: center;
    font-size: 20px;
    

}
.messageUpload{
    margin-left: 100px;
    font-size: 21px;
}
body{
    background-color: aliceblue;
}