body{
    background: aliceblue !important;;
    position: relative;
    height: 100%;
}
#listFiles a:hover{
    text-decoration: none;
}
.header h1{
    color: #7d93b4;
}
h2{
    text-align: center;
}
.header{
    padding: 15px 0;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 40px;
}
.header a{
    color: #fefffd;
}
.header a:hover{
    text-decoration: none;
    color: #aaaaaa;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    text-align: center;
    color: #ffffdd;
    padding: 1.5% 0;
}
li{
    list-style: none;
}
input{
    text-align: center;
}
.homeMessage{
    text-align: center;
    font-size: 35px;
    margin: 20vh 0;
}
.titleUploadCheck{
    padding: 3vw 0;
}
.blockUpload{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    grid-gap: 50px;
}
.upload_createDir{
    border-radius: 20px;
    text-align: center;
    margin: 20px;
}
.create{
    margin: 20px;
}

.labelFile_dir{
    padding: 50px;
    margin: 25px 0;
}
.labelFile_dir:hover .icon_file_label, .labelFile_dir:hover .icon_arrow{
    opacity: 1;
}
.labelFile_dir:hover {
    cursor: pointer;
}
.icon_file_label, .icon_arrow{
    width: 100px;
    height: 100px;
    opacity: 0.3;
}
.arrow {
    margin-right: 20px;
    transform: rotate(320deg);
}
.inputFile{
    display: none;
}
#showNameFile{
    font-size: 25px;
}
.formUpload{
    text-align: center;
}
.messagesUploadSuccess{
    margin-top: 20px;
    font-size: 30px;
    color: green;
}
.messagesUploadError{
    margin-top: 20px;
    font-size: 30px;
    color: red;
}
.messageName{
    margin: 0 50%;
    font-size: 30px;
}
.formUpload input{
    width: 50%;
}
.blockInputButtonName{
    margin: 30px 32% 0;
    width: 50%;
    display: flex;
    flex-direction: row;
}
.btnUploadFile{
    margin-left: 5%;
}
.messageDirectory {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}
.formDir{
    margin-top: 200px;
    margin-left: 200px
}
.btnCreate{
    margin-top: 10px;
    margin-left: 70px;
}
.files{
    margin-top: 300px;
    font-size: 60px;
    text-align: center
}
#listFiles{
    text-align: center;
    margin-bottom: 100px;
}
.formLogin, .formRegister{
    width: 25vw;
    padding-top: 6%;
    text-align: center;
    margin-left: 36vw;
}
.form-group{
    margin-top: 50px;
}
.formLogin input, .formRegister input{
    width: 100%;
}
.formLogin button, .formRegister button{
    width: 60%;
}
.btn1{
    position: absolute;
    left:36%;
}
.errorsLogin{
    margin-top: 50px 0;
    text-align: center;
    font-size: 50px;
    color: red;
}
.blockErrorsRegister{
    margin: 50px 0 100px 0;
}
.errorsRegister{
    text-align: center;
    color: red;
    font-size: 30px;
}
.iconFileList,.icon_dir,.icon_arrow_back,.icon_file{
    width: 20px;
    height: 20px;
}
.list{
    text-decoration: none;
    font-size: 30px;
    color: #499eaa;
}
.list:hover{
    color: blue;
}
.messageUpload_dir{
    margin-top: 50px;
    font-size: 25px;
}
#pop-up, #pop-upMove{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
#pop-up:target, #pop-upMove:target{
    display: block;
}
.example{
    margin-top: 50px;
    font-size: 30px;
}
.popUp {
    min-width: 200px;
    text-align: center;
    background-color: rgba(117, 207, 224, 0.75);
    border: 20px solid #ddd;
    margin: 20vh auto;
    width: 30%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
}
.message_crossPopUp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.messagePopUp{
    margin-bottom: 20px;
    font-size: 30px;
}
.inputPopUp{
    margin-right: 50px;
    width: 80%;
    height: 40px;
}
.btnPopUp{
    width: 60%;
    height: 20%;
    margin-top: 10%;
}
.exitPopup{
    font-size: 30px;
    float: right;
    cursor: pointer;
}
.exitPopup a{
    color: #499eaa;
}
.formPopUp{
    margin-left: 11%;
    width: 84%;
    margin-bottom: 20px;
}
.icon_rename, .icon_delete,.icon_download,.icon_edit{
    margin-left: 10px;
    width: 27px;
    height: 27px;
    cursor: pointer;
    opacity: 0.3;
}
.icon_rename:hover, .icon_delete:hover, .icon_download:hover,.icon_edit:hover{
    opacity: 1;
}